{{- if .Values.serviceAccount.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "healthchecker.serviceAccountName" . }}
  labels:
    {{- include "healthchecker.labels" . | nindent 4 }}
rules:
- apiGroups:
  - infrastructure.edgecdnx.com
  resources:
  - locations
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - infrastructure.edgecdnx.com
  resources:
  - locations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "healthchecker.serviceAccountName" . }}
  labels:
    {{- include "healthchecker.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "healthchecker.serviceAccountName" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "healthchecker.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
