apiVersion: v1
kind: Service
metadata:
  name: {{ include "healthchecker.fullname" . }}
  labels:
    {{- include "healthchecker.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8080
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: 8081
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "healthchecker.selectorLabels" . | nindent 4 }}
