---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: locations.infrastructure.edgecdnx.com
spec:
  group: infrastructure.edgecdnx.com
  names:
    kind: Location
    listKind: LocationList
    plural: locations
    singular: location
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Location is the Schema for the locations API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: LocationSpec defines the desired state of Location.
            properties:
              fallbackLocations:
                description: Specifies the list of locations that this location can
                  fall back to.
                items:
                  type: string
                type: array
                x-kubernetes-list-type: set
              geoLookup:
                description: Specifies the geo lookup configuration for this location.
                properties:
                  attributes:
                    additionalProperties:
                      properties:
                        values:
                          description: Attribute Values.
                          items:
                            properties:
                              value:
                                description: Value is the value of the attribute.
                                type: string
                              weight:
                                description: Additional modifier Weight for the value.
                                type: integer
                            type: object
                          type: array
                        weight:
                          description: Weight of this attribute
                          type: integer
                      type: object
                    description: Attributes assigned for this location for GeoLookup.
                    type: object
                  weight:
                    description: Weight of this location in case of load balancing
                      between multiple locations.
                    maximum: 1000
                    minimum: 0
                    type: integer
                type: object
              maintenanceMode:
                description: Sets the Location to Maintenance Mode.
                type: boolean
              nodeGroups:
                description: Introduces NodeGroups for location. Either Nodes or NodeGroups
                  can be used.
                items:
                  properties:
                    cacheConfig:
                      description: CacheConfig is the cache configuration for this
                        node group.
                      properties:
                        inactive:
                          description: Inactive is the inactive time for the cache.
                          type: string
                        keysZone:
                          description: KeysZone is the zone for the cache keys.
                          type: string
                        maxSize:
                          description: MaxSize is the maximum size for the cache.
                          type: string
                        name:
                          description: |-
                            Name is the name of the cache.
                            Deprecated. Cache Name corresponds to nodeGroup Name
                          type: string
                        path:
                          description: Path is the path to the cache.
                          type: string
                      required:
                      - inactive
                      - keysZone
                      - maxSize
                      - path
                      type: object
                    name:
                      description: Name is the name of the node group.
                      type: string
                    nodeSelector:
                      additionalProperties:
                        type: string
                      description: NodeSelector to apply to the daemonset
                      type: object
                    nodes:
                      description: Nodes is the list of nodes that are part of this
                        node group. If used in this context Caches are ignored in
                        NodeSpec.
                      items:
                        properties:
                          caches:
                            description: Caches is the list of caches that are associated
                              with this node.
                            items:
                              type: string
                            type: array
                            x-kubernetes-list-type: set
                          ipv4:
                            description: Ipv4 is the IPv4 address of the node.
                            type: string
                          ipv6:
                            description: Ipv6 is the IPv6 address of the node.
                            type: string
                          maintenanceMode:
                            description: MaintenanceMode indicates if the node is
                              in maintenance mode.
                            type: boolean
                          name:
                            description: Name is the name of the node.
                            type: string
                        required:
                        - name
                        type: object
                      type: array
                      x-kubernetes-list-map-keys:
                      - name
                      x-kubernetes-list-type: map
                  required:
                  - cacheConfig
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
              nodes:
                description: Specifies the list of nodes that are part of this location.
                items:
                  properties:
                    caches:
                      description: Caches is the list of caches that are associated
                        with this node.
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: set
                    ipv4:
                      description: Ipv4 is the IPv4 address of the node.
                      type: string
                    ipv6:
                      description: Ipv6 is the IPv6 address of the node.
                      type: string
                    maintenanceMode:
                      description: MaintenanceMode indicates if the node is in maintenance
                        mode.
                      type: boolean
                    name:
                      description: Name is the name of the node.
                      type: string
                  required:
                  - name
                  type: object
                type: array
            required:
            - geoLookup
            type: object
          status:
            description: LocationStatus defines the observed state of Location.
            properties:
              nodeStatus:
                additionalProperties:
                  properties:
                    conditions:
                      items:
                        properties:
                          lastTransitionTime:
                            format: date-time
                            type: string
                          observedGeneration:
                            description: Observed generation corresponds to the Location
                              generation when the condition was last updated.
                            format: int64
                            type: integer
                          reason:
                            type: string
                          status:
                            description: Status
                            type: boolean
                          type:
                            description: Condition Type
                            type: string
                        required:
                        - status
                        - type
                        type: object
                      type: array
                  required:
                  - conditions
                  type: object
                type: object
              status:
                enum:
                - Healthy
                - Progressing
                - Degraded
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
