---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: projects.infrastructure.edgecdnx.com
spec:
  group: infrastructure.edgecdnx.com
  names:
    kind: Project
    listKind: ProjectList
    plural: projects
    singular: project
  scope: Namespaced
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: Project is the Schema for the projects API.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: ProjectSpec defines the desired state of Project.
              properties:
                rbac:
                  properties:
                    groups:
                      items:
                        properties:
                          ptype:
                            description: "Rule type: p, p2, g, g2, ..."
                            pattern: ^(p|g)\d*$
                            type: string
                          v0:
                            description: Positional parameters v0
                            type: string
                          v1:
                            description: Positional parameters v1
                            pattern: .*\S.*
                            type: string
                          v2:
                            description: Positional parameters v2
                            type: string
                          v3:
                            description: Positional parameters v3
                            type: string
                          v4:
                            description: Positional parameters v4
                            type: string
                          v5:
                            description: Positional parameters v5
                            type: string
                        required:
                          - ptype
                        type: object
                      type: array
                    rules:
                      items:
                        properties:
                          ptype:
                            description: "Rule type: p, p2, g, g2, ..."
                            pattern: ^(p|g)\d*$
                            type: string
                          v0:
                            description: Positional parameters v0
                            type: string
                          v1:
                            description: Positional parameters v1
                            pattern: .*\S.*
                            type: string
                          v2:
                            description: Positional parameters v2
                            type: string
                          v3:
                            description: Positional parameters v3
                            type: string
                          v4:
                            description: Positional parameters v4
                            type: string
                          v5:
                            description: Positional parameters v5
                            type: string
                        required:
                          - ptype
                        type: object
                      type: array
                  type: object
              type: object
            status:
              description: ProjectStatus defines the observed state of Project.
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
