---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: zones.infrastructure.edgecdnx.com
spec:
  group: infrastructure.edgecdnx.com
  names:
    kind: Zone
    listKind: ZoneList
    plural: zones
    singular: zone
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Zone is the Schema for the zones API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ZoneSpec defines the desired state of Zone.
            properties:
              email:
                description: Email is the contact email for the zone. Must be in dot
                  notation e.g. noc.zone.custom.com
                type: string
              zone:
                description: Zone is the name of the zone.
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
            required:
            - email
            - zone
            type: object
          status:
            description: ZoneStatus defines the observed state of Zone.
            properties:
              status:
                enum:
                - Healthy
                - Progressing
                - Degraded
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
